/* Minimal Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Placeholder Styles */
:root {
  --background-color: rgba(0, 0, 0, 0);
  --text-color-normal: #fffff2;
  --text-color-muted: #b0b0b0;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgba(0, 0, 0, 0);
    --text-color-normal: #0e1111;
    --text-color-muted: #b0b0b0;
  }
}

body {
  height: 100vh;
  padding-top: env(safe-area-inset-top);
  font: -apple-system-body;
  background-color: var(--background-color);
  color: var(--text-color-normal);
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text-color-normal);
  cursor: pointer;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}

.accounts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem; /* justify-content: center; */
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.account-issuer {
  font-size: 1.5rem;
}

.account-label {
  font-size: 1rem;
  color: var(--text-color-muted);
}

.account-totp {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 2rem;
  padding: 0.25rem;
  cursor: pointer;
  user-select: none;
}

.account-new {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.account-new-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.account-new-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.account-new-form input {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.copied-alert { 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--text-color-normal);
  text-align: center;
  z-index: 100;
}

.qr-scanner {
  width: 430px;
  margin: 0 auto;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-scanner p {
  text-align: center;
}

.qr-scanner video {
  width: 100%;
  height: 100%;
  max-height: 908px; /* 19.5:9 aspect ratio */
  object-fit: cover;
}

.qr-scanner-target {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.qr-scanner-target svg {
  width: 90%;
}

/* Media Queries for mobile screens */
@media (max-width: 430px) {
  .qr-scanner {
    width: 100%;
  }
}